<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>РАВНЫЙ КОНСУЛЬТАНТ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/owl.theme.default.min.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>


//= blocks/header.html

<main class="main">
    <section class="slider owl-carousel owl-theme">
        <div class="slider__item slider__item-1">
            <div class="container-fluid">
                <div class="slider__content">
                    <h2 class="slider__title text-pink">РАВНЫЙ CONSULTANT</h2>
                    <h3 class="slider__subtitle text-pink">ИМЕЕТ ОПЫТ ЖИЗНИ С ОНКОЛОГИЧЕСКИМ ДИАГНОЗОМ И ПОМОГАЕТ ДРУГИМ</h3>
                    <a href="#" class="btn is-reversed fx-bubbleUp">СТАТЬ КОНСУЛЬТАНТОМ</a>
                </div>
            </div>
        </div>

        <div class="slider__item slider__item-2">
            <div class="container-fluid">
                <div class="slider__content">
                    <h2 class="slider__title text-pink">РАВНЫЙ CONSULTANT</h2>
                    <ul class="pink-list">
                        <li>Для перехода к следующему тесту нажмите «Далее».</li>
                        <li>Можно возвращаться к своим предыдущим ответам. Для этого нажмите «Назад».</li>
                        <li>Тестирование можно завершить в любой момент, для этого нажмите «Завершить».</li>
                    </ul>
                    <a href="#" class="btn is-reversed fx-bubbleUp">СТАТЬ КОНСУЛЬТАНТОМ</a>
                </div>
            </div>
        </div>
        <div class="slider__item slider__item-3">
            <div class="container-fluid">
                <div class="slider__content">
                    <h2 class="slider__title text-pink">РАВНЫЙ CONSULTANT</h2>
                    <h3 class="slider__subtitle text-pink">ИМЕЕТ ОПЫТ ЖИЗНИ С ОНКОЛОГИЧЕСКИМ ДИАГНОЗОМ И ПОМОГАЕТ ДРУГИМ</h3>
                    <a href="#" class="btn is-reversed fx-bubbleUp">СТАТЬ КОНСУЛЬТАНТОМ</a>
                </div>
            </div>
        </div>
        <div class="slider__item slider__item-4">
            <div class="container-fluid">
                <div class="slider__content">
                    <h2 class="slider__title text-pink">РАВНЫЙ CONSULTANT</h2>
                    <h3 class="slider__subtitle text-pink">ИМЕЕТ ОПЫТ ЖИЗНИ С ОНКОЛОГИЧЕСКИМ ДИАГНОЗОМ И ПОМОГАЕТ ДРУГИМ</h3>
                    <a href="#" class="btn is-reversed fx-bubbleUp">СТАТЬ КОНСУЛЬТАНТОМ</a>
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="about__top">
            <div class="container-fluid">
                <div class="row">
                    <!-- Start Single Testi -->
                    <div class="col-lg-4 mb-4">
                        <div class="about-testi testi border-figure">
                            <h3 class="testi__title"><i class="testi__icon icon icon-question-ico icon-border-bottom"></i><span>МОГУ ЛИ Я <br>СТАТЬ РАВНЫМ<br>С КОНСУЛЬТАНТОМ?</span></h3>
                            <p>Не каждый, кто хочет помогать другим, реально готов к этому. Проверить себя, можно ответив на вопросы нашего теста</p>
                        </div>
                    </div>
                    <!-- End Single Testi -->
                    <!-- Start Single Testi -->
                    <div class="col-lg-4 mb-4">
                        <div class="about-testi testi border-figure">
                            <h3 class="testi__title"><i class="testi__icon icon icon-email-ico icon-border-bottom"></i><span>КАК ПРОЙТИ <br>ПОДГОТОВКУ<br> К РАБОТЕ РАВНЫМ<br> КОНСУЛЬТАНТОМ?</span></h3>
                            <p>Мы не только готовим «равных», но и помогаем начать работу в региональном диспансере.</p>
                        </div>
                    </div>
                    <!-- End Single Testi -->
                    <!-- Start Single Testi -->
                    <div class="col-lg-4 mb-4">
                        <div class="about-testi testi border-figure">
                            <h3 class="testi__title"><i class="testi__icon icon icon-pin-ico icon-border-bottom"></i><span>КАК ОТКРЫТЬ<br> КАБИНЕТ РАВНОГО<br> КОНСУЛЬТИРОВАНИЯ <br>В МОЕМ ГОРОДЕ?</span></h3>
                            <p>Мы не только готовим «равных», но и помогаем начать работу в региональном диспансере.</p>
                        </div>
                    </div>
                    <!-- End Single Testi -->
                </div>
            </div>
        </div>
        <div class="about__bottom">
            <div class="container-fluid">
                <div class="row align-items-end">
                    <div class="col-lg-6">
                        <h2 class="about-title text-white">О нас</h2>
                        <p>Программа «Женское здоровье» при поддержке Фонда президентских грантов, реализует уникальный проект – развитие равного консультирования в онкологии. После 10 лет помощи женщинам с онкологическими заболеваниями женской репродуктивной сферы, мы поняли, что можем расширить сеть помогающих друг другу.</p>
                        <p>Мы разработали уникальную систему подготовки и сопровождения равных консультантов – женщин, имеющих опыт жизни с онкологическим диагнозом, которые готовы оказывать профессиональную помощь другим пациенткам. Наши консультанты работают в онкологических диспансерах и вместе с врачами обеспечивают комфортные условия для лечения.</p>
                        <p><b>Мы работаем для того, чтобы онкологическая служба стала более дружелюбной и открытой для пациента. Присоединяйтесь к нам!</b></p>
                    </div>
                    <div class="about-team">
                        <img src="img/team.png" class="news-item__img img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="numbers bg-green">
        <div class="container-fluid">
            <div class="numbers-wrap owl-carousel owl-theme">
                <div class="numbers-item">
                    <div class="numbers-item__num">8</div>
                    <span class="numbers-item__subtitle section-subtitle">регионов</span>
                </div>
                <div class="numbers-item">
                    <div class="numbers-item__num">5000</div>
                    <span class="numbers-item__subtitle section-subtitle">участниц</span>
                </div>
                <div class="numbers-item">
                    <div class="numbers-item__num">300</div>
                    <span class="numbers-item__subtitle section-subtitle">равных <br>консультантов</span>
                </div>
                <div class="numbers-item">
                    <div class="numbers-item__num">3000</div>
                    <span class="numbers-item__subtitle section-subtitle">женщин получают <br> поддержку ежегодно</span>
                </div>
            </div>
        </div>
    </div>

    <section class="news">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="news__title section-title text-pink">Новости и&nbsp;анонсы</h2>
                    <div class="news-wrap">
                        <div class="news-item">
                            <div class="row">
                                <div class="col-lg-3"><img src="img/news/news-1.jpg" class="news-item__img img-fluid" alt=""></div>
                                <div class="col-lg-9">
                                    <p class="news-item__title">"Помощь равных". <br> Интервью Татьяны Головановой для АСИ 1 октября 2018</p>
                                    <time datetime="2018-10-01" class="news-item__date">1 октября 2018</time>
                                    <p>«Любой руководитель медицинского учреждения знает, что более 80% жалоб в медицинском учреждении — это жалобы не на процесс лечения, а на нехватку информации».</p>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="row">
                                <div class="col-lg-3"><img src="img/news/news-1.jpg" class="news-item__img img-fluid" alt=""></div>
                                <div class="col-lg-9">
                                    <p class="news-item__title">"Помощь равных". <br> Интервью Татьяны Головановой для АСИ 1 октября 2018</p>
                                    <time datetime="2018-10-01" class="news-item__date">1 октября 2018</time>
                                    <p>«Любой руководитель медицинского учреждения знает, что более 80% жалоб в медицинском учреждении — это жалобы не на процесс лечения, а на нехватку информации».</p>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="row">
                                <div class="col-lg-3"><img src="img/news/news-1.jpg" class="news-item__img img-fluid" alt=""></div>
                                <div class="col-lg-9">
                                    <p class="news-item__title">"Помощь равных". <br> Интервью Татьяны Головановой для АСИ 1 октября 2018</p>
                                    <time datetime="2018-10-01" class="news-item__date">1 октября 2018</time>
                                    <p>«Любой руководитель медицинского учреждения знает, что более 80% жалоб в медицинском учреждении — это жалобы не на процесс лечения, а на нехватку информации».</p>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="row">
                                <div class="col-lg-3"><img src="img/news/news-1.jpg" class="news-item__img img-fluid" alt=""></div>
                                <div class="col-lg-9">
                                    <p class="news-item__title">"Помощь равных". <br> Интервью Татьяны Головановой для АСИ 1 октября 2018</p>
                                    <time datetime="2018-10-01" class="news-item__date">1 октября 2018</time>
                                    <p>«Любой руководитель медицинского учреждения знает, что более 80% жалоб в медицинском учреждении — это жалобы не на процесс лечения, а на нехватку информации».</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-more"><a class="btn fx-bubbleUp" href="#">ВСЕ НОВОСТИ</a></div>
                </div>
                <div class="col-lg-4">
                    <div id="calendar-news" class="calendar news__calendar border-figure">
                        <h2 class="calendar__title"><i class="calendar__icon icon icon-calendar icon-border-bottom"></i><span>КАЛЕНДАРЬ <br>МЕРОПРИЯТИЙ</span></h2>
                        <button class="calendar__btn" data-parent="#calendar-news" data-toggle="collapse" aria-expanded="true" aria-controls="calendar-news-body"><i class="calendar__btn-icon icon icon-arrow-top"></i></button>
                        <div class="calendar-body panel-collapse collapse" id="calendar-news-body">
                            <div class="calendar-item">
                                <div class="row">
                                    <div class="col-12">
                                        <time datetime="2018-10-01"  class="calendar-item__date">1 октября 2018</time>
                                        <p class="calendar-item__title">Сдаваться ли "на опыты в поликлинику"? Роль подопытного: выгодно или рискованно?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="calendar-item">
                                <div class="row">
                                    <div class="col-12">
                                        <time datetime="2018-10-01"  class="calendar-item__date">1 октября 2018</time>
                                        <p class="calendar-item__title">Сдаваться ли "на опыты в поликлинику"? Роль подопытного: выгодно или рискованно?</p>
                                        <p>Приглашаем вас на встречу лидеров, которая состоится в эту субботу, 3 ноября, в 12:00. На ней мы расскажем о сообществе PRO Женщин и презентуем новую программу. Для этого вам надо пройти по ссылке <a href="https://www.facebook.com/events/342687113154354/">https://www.facebook.com/events/342687113154354/</a> отметить, что придёте и прийти!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="calendar-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="img/news/news-1.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8 pl-0">
                                        <time datetime="2018-10-01"  class="calendar-item__date">1 октября 2018</time>
                                        <p class="calendar-item__title">КОНФЕРЕНЦИЯ WOMEN ROLE MODEL ПРОЙДЕТ В МОСКВЕ</p>
                                        <p>в Москве состоится конференция по женской психологии Women Role Model. Организаторы мероприятия соберут на одной площадке ведущих психологов, сексологов и коучей для обсуждения</p>
                                    </div>
                                </div>
                            </div>
                            <div class="calendar-item">
                                <div class="row">
                                    <div class="col-12">
                                        <time datetime="2018-10-01"  class="calendar-item__date">1 октября 2018</time>
                                        <p class="calendar-item__title">ЛИДЕРСКАЯ ВСТРЕЧА В МОСКВЕ</p>
                                        <p>Приглашаем вас на встречу лидеров, которая состоится в эту субботу, 3 ноября, в 12:00. На ней мы расскажем о сообществе PRO Женщин и презентуем новую программу. Для этого вам надо пройти по ссылке https://www.facebook.com/events/342687113154354/ отметить, что придёте и прийти!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center calendar-more"><a class="btn fx-bubbleUp" href="/events/">ВСЕ МЕРОПРИЯТИЯ</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="useful bg-grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="section__title text-center">
                        <h2 class="title__line section-title text-pink">Полезные материалы</h2>
                    </div>
                </div>
            </div>
            <div class="useful-wrap owl-carousel mt--40">
                <div class="card useful-card">
                    <div class="card__thumb">
                        <a href="#">
                            <img src="img/useful/1.png" class="img-fluid" alt="class images">
                        </a>
                    </div>
                    <div class="card__details">
                        <p>Мы знаем об этом потому, что в нашей команде есть те, кто прошел через это сам. Потому что каждый день в наших социальных сетях и чатах мы отвечаем на вопросы, которые задают нам женщины, только что узнавшие о диагнозе, или женщины, находящиеся на лечении.</p>
                        <a class="card__btn btn fx-bubbleUp" href="#">Читать далее</a>
                    </div>
                </div>
                <div class="card useful-card">
                    <div class="card__thumb">
                        <a href="#">
                            <img src="img/useful/1.png" class="img-fluid" alt="class images">
                        </a>
                    </div>
                    <div class="card__details">
                        <p>Мы решили выпустить для наших равных консультантов книжку карточек-подсказок с ответами на самые частые вопросы, которые задают нам.</p>
                        <a class="card__btn btn fx-bubbleUp" href="#">Читать далее</a>
                    </div>
                </div>
                <div class="card useful-card">
                    <div class="card__thumb">
                        <a href="#">
                            <img src="img/useful/1.png" class="img-fluid" alt="class images">
                        </a>
                    </div>
                    <div class="card__details">
                        <p>Мы решили выпустить для наших равных консультантов книжку карточек.</p>
                        <a class="card__btn btn fx-bubbleUp" href="#">Читать далее</a>
                    </div>
                </div>
                <div class="card useful-card">
                    <div class="card__thumb">
                        <a href="#">
                            <img src="img/useful/1.png" class="img-fluid" alt="class images">
                        </a>
                    </div>
                    <div class="card__details">
                        <p>Мы решили выпустить для наших равных консультантов книжку карточек-подсказок с ответами на самые частые вопросы, которые задают нам.</p>
                        <a class="card__btn btn fx-bubbleUp" href="#">Читать далее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="video">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-title text-pink">Видеоматериалы</h2>
                </div>
            </div>
            <div class="video-wrap owl-carousel">
                <!-- Start Single Blog -->
                <a href="#" class="video-item">
                    <div class="video-item__thumb">
                        <img src="img/video/video.jpg" class="img-fluid" alt="blog img">
                        <span class="video-item__play"></span>
                    </div>
                    <div class="video-item__details">
                        <h3 class="section-subtitle video-item__title">Арт-терапия для женщин с диагнозом рак молочной железы «Радуга жизни»</h3>
                        <time datetime="1 октября 2018" class="video-item__date">1 октября 2018</time>
                    </div>
                </a>
                <a href="#" class="video-item">
                    <div class="video-item__thumb">
                        <img src="img/video/video.jpg" class="img-fluid" alt="blog img">
                        <span class="video-item__play"></span>
                    </div>
                    <div class="video-item__details">
                        <h3 class="section-subtitle video-item__title">Арт-терапия для женщин с диагнозом рак молочной железы «Радуга жизни»</h3>
                        <time datetime="1 октября 2018" class="video-item__date">1 октября 2018</time>
                    </div>
                </a>
                <a href="#" class="video-item">
                    <div class="video-item__thumb">
                        <img src="img/video/video.jpg" class="img-fluid" alt="blog img">
                        <span class="video-item__play"></span>
                    </div>
                    <div class="video-item__details">
                        <h3 class="section-subtitle video-item__title">Арт-терапия для женщин с диагнозом рак молочной железы «Радуга жизни»</h3>
                        <time datetime="1 октября 2018" class="video-item__date">1 октября 2018</time>
                    </div>
                </a>
                <a href="#" class="video-item">
                    <div class="video-item__thumb">
                        <img src="img/video/video.jpg" class="img-fluid" alt="blog img">
                        <span class="video-item__play"></span>
                    </div>
                    <div class="video-item__details">
                        <h3 class="section-subtitle video-item__title">Арт-терапия для женщин с диагнозом рак молочной железы «Радуга жизни»</h3>
                        <time datetime="1 октября 2018" class="video-item__date">1 октября 2018</time>
                    </div>
                </a>
            </div>
        </div>
    </section>

</main>

//= blocks/subs.html
//= blocks/partners.html

//= blocks/footer.html
//= blocks/popup.html
//= blocks/script.html

</body>
</html>