<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>РАВНЫЙ КОНСУЛЬТАНТ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/owl.theme.default.min.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>


//= blocks/header.html
<main class="main">
    <section class="head">
        <h1 class="head-title text-white">ИНФОРМАЦИЯ О&nbsp;ПРОЕКТЕ</h1>
    </section>
    <section class="page">
        <div class="container-fluid">
            //= blocks/breadcrumbs.html
            <div class="row">
                //= blocks/aside-left.html
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-10">
                            <h3 class="page-title text-pink">ИСТОРИЯ СОЗДАНИЯ ПРОЕКТА</h3>
                            <p class="text-pink size-middle">10 лет назад появилась программа «Женское здоровье», призванная поддерживать женщин, столкнувшихся с диагнозом «рак молочной железы».</p>
                            <p class="text-pink size-middle">За годы работы авторам программы удалось создать широкую сеть групп поддержки, которая работает как в формате очных консультаций, так и в современном формате чатов в мессенджерах и соцсетях. Нам удалось объединить женщин, оказавшихся с сложной ситуации болезни в сообщество единомышленников, неравнодушных друг к другу и готовых протянуть руку помощи тому, кто в этом нуждается. </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mt-4 mb-4">
                            <img src="img/news/news-img-1.jpg" alt="" class="img-full">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="mb-3">В группах общаются пациентки, а модераторами выступают психологи и опытные волонтеры. Таким образом удается совмещать эмоциональный отклик и более профессиональные советы. Объединяя сообщество, авторы видели потребность в системной помощи его участницам и необходимость системного же вовлечения новых пациентов и членов их семей в деятельность сообщества. Так же было очевидно, что в сообществе постоянно появляются новые лидеры, которым уже не достаточно быть просто его частью и у которых уже достаточно опыта, чтобы двигаться дальше. </p>
                            <p><b>Тогда пришло понимание необходимости профессионализации сообщества, одним из направлений которой представляется нам развитие практики «равного консультирования» — как системной социальной услуги, которую способно предоставлять сообщество.  </b></p>
                        </div>
                        <div class="col-lg-4">
                            <p class="note text-pink">Говоря о профессионализации, мы используем ее социально-экономические определение как развития и реализации человеческих ресурсов в ходе трудовой (в нашем случае – добровольческой) деятельности.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <h3 class="page-title text-pink">ТАК КТО ТАКОЙ РАВНЫЙ КОНСУЛЬТАНТ? </h3>
                            <p>Если говорить языком определений, то - это человек, имеющий опыт жизни с заболеванием ( в данном случае онкология женской репродуктивной сферы) и знающий психологические и социальные аспекты жизни с заболеванием на всех этапах лечения и реабилитации и прошедший специальное обучение консультированию. Причем вот это обучение – это важнейшая ступень отделяющая консультанта, который может взаимодействовать в интересах подопечного пациента и с врачебным сообществом и с чиновниками, с психологами и юристами, от просто человека из очереди на химиотерапию, который тоже переживает похожий опыт, но не обязан знать и действовать в рамках этики консультанта.</p>
                            <h3 class="page-title text-pink">ПРОГРАММА ОБУЧЕНИЯ </h3>
                            <p class="text-pink size-middle">Конечно же равным консультантом может быть далеко не каждый пациент. Одного опыта и даже желания помогать другим не достаточно. Важны и особенности психики, и стрессоустойчивость и адекватность. Поэтому все кандидаты перед обучением проходят психологическое тестирование.
                            </p>
                            <p>Курс обучения разбит на три этапа – это два блока двухдневных интенсивных семинаров, и между ними блок самостоятельной подготовки. </p>
                            <p><b>На первом блоке обучения внимание уделяется этике консультанта, профилактике выгорания, тому, как соблюдать дистанцию и не давать пациентам навязчивые советы, а учиться определять проблему, с которой пациент пришел и способы решения этой проблемы.
                            </b></p>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="text-pink size-middle"><b>В программу входят разделы:</b></p>
                            <ul class="pink-list">
                                <li>опираясь на знания первого семинара и опыт пробных консультаций, участницы анализировали, для кого и ради чего они становятся равными консультантами. Что такое успешная работа и чем этот успех измеряется? Каковы личные цели?</li>
                                <li>отрабатывали структуру консультации - от момента установления контакта и прояснения запроса до построения с клиентом плана действий и назначения следующей встречи.</li>
                                <li>подробно говорили о конфликтах: их причинах, стратегиях поведения в конфликте. За два дня мы разобрали 20 кейсов, составленных психологами и взятых из практики самих равных консультантов».</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <img src="img/news/news-img-2.jpg" alt="" class="img-full mb-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p><b>На второй ступени, куда консультанты приезжают спустя два месяца после первого курса, работа строиться более предметно, с отработкой практических навыков консультирования:</b></p>
                            <ul class="pink-list">
                                <li>понятие равного консультирования;</li>
                                <li>отличие равного консультирования от других помогающих профессий;</li>
                                <li>этапы принятия диагноза;</li>
                                <li>профориентация равного консультанта;</li>
                                <li>профилактика эмоционального выгорания, психогигиена;</li>
                                <li>этика в работе равного консультанта;</li>
                                <li>модель консультирования, навыки активного слушания, техники установления контакта;</li>
                                <li>разбор кейсов, разбор ошибок консультирования.</li>
                            </ul>
                            <h3 class="page-title text-pink">С КАКИМИ ВОПРОСАМИ МОЖЕТ <br>ПРИЙТИ ПАЦИЕНТ</h3>
                            <p class="text-pink size-middle"><b>Психологическое состояние</b></p>
                            <p>В первую очередь консультанты учатся отвечать на эмоциональную реакцию пациентки и ее родственников, которые узнали о своем диагнозе совсем недавно. Консультант, опираясь на свой личный опыт, может помочь пациентке успокоиться и настроиться на лечение и совместную работу с лечащим врачом. В сложных случаях консультант может рекомендовать пациентке обратиться к психологу или психотерапевту. </p>
                            <p class="text-pink size-middle"><b>Маршрутизация</b></p>
                            <p>Равные консультанты специально собирают и владеют всей актуальной для пациентов информацией в своем регионе: информацией о медицинских лечебных учреждениях онкологического профиля, днях и часах приема различных кабинетов, государственных и негосударственных реабилитационных сервисах, магазинах с париками, бельем, экзопротезами.</p>
                            <p class="text-pink size-middle"><b>Правовые вопросы</b></p>
                            <p>Зачастую пациентам нужны информация о его правах и о том, как получить бесплатное лечение, которого полагается по закону. В вопросах оформления инвалидности, получения квот и трудовом праве консультанты так же ориентируются и готовы предоставить актуальную информацию.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

//= blocks/subs.html
//= blocks/partners.html

//= blocks/footer.html
//= blocks/popup.html
//= blocks/script.html

</body>
</html>