<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Новость</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/owl.theme.default.min.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>


//= blocks/header.html
<main class="main">
    <section class="head">
        <h1 class="head-title text-white">НОВОСТИ</h1>
    </section>

    <section class="page">
        <div class="container-fluid">
            //= blocks/breadcrumbs.html
            <div class="row">
                //= blocks/aside-left.html
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-10">
                            <h3 class="page-title text-pink">«ПОМОЩЬ РАВНЫХ». <br>ИНТЕРВЬЮ ТАТЬЯНЫ ГОЛОВАНОВОЙ ДЛЯ АСИ</h3>
                            <time datetime="2018-10-01" class="post-date">1 октября 2018</time>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <figure>
                                <img src="img/news/news-img-1.jpg" alt="" class="img-full">
                                <figcaption>Татьяна Голованова. Фото: Александра Захваткина / АСИ</figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p class="text-pink size-middle">Региональный координатор программы «Женское здоровье» Татьяна Голованова  о равных консультантах в области женской онкологии, пациентском сообществе и важности психологической реабилитации.</p>
                            <p>Благотворительная программа «Женское здоровье» фонда «Вольное дело» объединяет экспертов в области онкологии и развивает поддерживающее сообщество для женщин с онкологическими заболеваниями репродуктивной системы. Приоритетным направлением программы стало развитие системы равного консультирования.</p>
                            <p class="size-middle"><b>Что из себя представляет программа «Женское здоровье»?</b></p>
                            <p>Все подходы программы базируются  исключительно на доказательной медицине, все информационные материалы по каждой теме готовят узкие специалисты. Опыт профессионалов — в основе всей работы программы.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="size-middle"><b>Почему равное консультирование программа определила как ключевое?</b></p>
                            <p>Равное консультирование способно напрямую влиять на качество социального сопровождения пациентов, а, следовательно, и на качество их жизни. Именно поэтому работу равного консультанта мы считаем ключевой в создании полноценной системы поддержки.</p>
                            <p>Проект удачен тем, что для его реализации уже все есть – нужна только добрая воля руководства здравоохранения региона и медицинского учреждения, на базе которого будет все происходить. А квалифицированных консультантов готовим мы. Итогом этого года станет пособие, в нем мы подробно опишем, как запустить равное консультирование, отладить процессы и поддерживать уровень оказания этой услуги.</p>
                        </div>
                        <div class="col-lg-4">
                            <p class="quote text-pink">Говоря о профессионализации, мы используем ее социально-экономические определение как развития и реализации человеческих ресурсов в ходе трудовой (в нашем случае – добровольческой) деятельности.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p class="size-middle"><b>Почему медицинские учреждения соглашаются на участие в программе? В чем их выгода?</b></p>
                            <p>Во-первых, у специалистов освобождается время, которое раньше они тратили на консультацию пациента по бытовым аспектам жизни с болезнью. Во-вторых, снижается психологическая напряженность внутри учреждения, потому что недополученные ответы пациентов — это всегда жалобы.</p>
                            <p>При должной организации процесса равные консультанты способны сильно разгрузить учреждение, в том числе от жалоб. Основной задачей проекта на этот год было встроить работу консультантов в существующую систему здравоохранения. Уже сейчас понятно, что это получилось.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="size-middle"><b>Почему равное консультирование программа определила как ключевое?</b></p>
                            <p>Равное консультирование способно напрямую влиять на качество социального сопровождения пациентов, а, следовательно, и на качество их жизни. Именно поэтому работу равного консультанта мы считаем ключевой в создании полноценной системы поддержки.</p>
                            <p>Проект удачен тем, что для его реализации уже все есть – нужна только добрая воля руководства здравоохранения региона и медицинского учреждения, на базе которого будет все происходить. А квалифицированных консультантов готовим мы. Итогом этого года станет пособие, в нем мы подробно опишем, как запустить равное консультирование, отладить процессы и поддерживать уровень оказания этой услуги.</p>
                        </div>
                        <div class="col-lg-4">
                            <p class="quote text-pink">Говоря о профессионализации, мы используем ее социально-экономические определение как развития и реализации человеческих ресурсов в ходе трудовой (в нашем случае – добровольческой) деятельности.</p>
                        </div>
                    </div>
                </div>
                //= blocks/aside-right.html
            </div>
        </div>
    </section>
</main>

//= blocks/subs.html
//= blocks/partners.html

//= blocks/footer.html
//= blocks/popup.html
//= blocks/script.html

</body>
</html>