<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>РАВНЫЙ КОНСУЛЬТАНТ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/owl.theme.default.min.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>


//= blocks/header.html
<main class="main">
    <section class="head">
        <h1 class="head-title text-white">ТЕСТИРОВАНИЕ</h1>
    </section>
    <section class="page">
        <div class="container-fluid">
            //= blocks/breadcrumbs.html
            <div class="row">
                //= blocks/aside-left.html
                <div class="col-lg-6">
                    <h3 class="page-title text-pink">СМОЖЕТЕ ЛИ ВЫ СТАТЬ РАВНЫМ КОНСУЛЬТАНТОМ?</h3>
                    <div class="profile-test-wrap">
                        <!--текст с предложением пройти тест-->
                        <div class="profile-text">
                            <p class="size-middle text-pink">Если вы задумываетесь над возможностью стать равным консультантом, предлагаем вам для начала самостоятельно оценить собственные возможности – способность слушать и слышать, способность реагировать непредвзято, контролировать свои эмоции, умение усваивать и передавать информацию, знание особенностей целевой группы. </p>
                            <p>Попробуйте максимально честно ответить, себе в первую очередь, на вопросы теста. В каждом пункте определите, какой ответ ближе всего вам по ощущениям.</p>
                            <p class="text-pink size-middle"><b>Правила прохождения теста:</b></p>
                            <ul class="pink-list">
                                <li>Для перехода к следующему тесту нажмите «Далее».</li>
                                <li>Можно возвращаться к своим предыдущим ответам. Для этого нажмите «Назад».</li>
                                <li>Тестирование можно завершить в любой момент, для этого нажмите «Завершить».</li>
                            </ul>
                            <div class="btn-center">
                                <a href="#" class="btn fx-bubbleUp start-test">ПРОЙТИ ТЕСТ</a>
                            </div>
                        </div>
                        <!--тест-->
                        <ul class="profile-test test">
                            <!--у последнего вопроса, кнопку с другим классом-->
                            <li class="test-item border-figure">
                                <div class="test-item__body">
                                    <span class="test-item__count"><i></i>/<ins></ins></span>
                                    <p class="size-middle"><b>Думая о разных жизненных стратегиях/поступках своих знакомых и малознакомых людей я</b></p>
                                    <ul class="test-checks">
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Понимаю, что жизненные обстоятельства и опыт у всех разные, поэтому понимаю и принимаю всех людей такими, какие они есть
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Вижу, что есть более рациональные/логичные стратегии, понимаю, что человек сложной ситуации может просто не сориентироваться, поэтому стараюсь тактично направить его «в правильное русло»
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Как правило, я уверена в том, что моя стратегия правильная и я стараюсь убедить в этом собеседника.
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="test-item__btn">
                                    <button type="submit" class="btn fx-bubbleUp next-test">ДАЛЕЕ</button>
                                    <button type="submit" class="btn fx-bubbleUp finish-test">ЗАВЕРШИТЬ</button>
                                </div>
                            </li>
                            <li class="test-item border-figure">
                                <div class="test-item__body">
                                    <span class="test-item__count"><i></i>/<ins></ins></span>
                                    <p class="size-middle"><b>Думая о разных жизненных стратегиях/поступках своих знакомых и малознакомых людей я</b></p>
                                    <ul class="test-checks">
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Понимаю, что жизненные обстоятельства и опыт у всех разные, поэтому понимаю и принимаю всех людей такими, какие они есть
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Вижу, что есть более рациональные/логичные стратегии, понимаю, что человек сложной ситуации может просто не сориентироваться, поэтому стараюсь тактично направить его «в правильное русло»
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Как правило, я уверена в том, что моя стратегия правильная и я стараюсь убедить в этом собеседника.
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Как правило, я уверена в том, что моя стратегия правильная и я стараюсь убедить в этом собеседника.
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="test-item__btn">
                                    <button type="submit" class="btn fx-bubbleUp next-test">ДАЛЕЕ</button>
                                    <button type="submit" class="btn fx-bubbleUp finish-test">ЗАВЕРШИТЬ</button>
                                </div>
                            </li>
                            <li class="test-item border-figure">
                                <div class="test-item__body">
                                    <span class="test-item__count"><i></i>/<ins></ins></span>
                                    <p class="size-middle"><b>Думая о разных жизненных стратегиях/поступках своих знакомых и малознакомых людей я</b></p>
                                    <ul class="test-checks">
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Понимаю, что жизненные обстоятельства и опыт у всех разные, поэтому понимаю и принимаю всех людей такими, какие они есть
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Как правило, я уверена в том, что моя стратегия правильная и я стараюсь убедить в этом собеседника.
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="test-item__btn">
                                    <button type="submit" class="btn fx-bubbleUp next-test">ДАЛЕЕ</button>
                                    <button type="submit" class="btn fx-bubbleUp finish-test">ЗАВЕРШИТЬ</button>
                                </div>
                            </li>
                            <li class="test-item border-figure">
                                <div class="test-item__body">
                                    <span class="test-item__count"><i></i>/<ins></ins></span>
                                    <p class="size-middle"><b>Думая о разных жизненных стратегиях/поступках своих знакомых и малознакомых людей я</b></p>
                                    <ul class="test-checks">
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Понимаю, что жизненные обстоятельства и опыт у всех разные, поэтому понимаю и принимаю всех людей такими, какие они есть
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Вижу, что есть более рациональные/логичные стратегии, понимаю, что человек сложной ситуации может просто не сориентироваться, поэтому стараюсь тактично направить его «в правильное русло»
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Как правило, я уверена в том, что моя стратегия правильная и я стараюсь убедить в этом собеседника.
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Как правило, я уверена в том, что моя стратегия правильная и я стараюсь убедить в этом собеседника.
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="test-item__btn">
                                    <button type="submit" class="btn fx-bubbleUp next-test">ДАЛЕЕ</button>
                                    <button type="submit" class="btn fx-bubbleUp finish-test">ЗАВЕРШИТЬ</button>
                                </div>
                            </li>
                            <li class="test-item border-figure">
                                <div class="test-item__body">
                                    <span class="test-item__count"><i></i>/<ins></ins></span>
                                    <p class="size-middle"><b>Думая о разных жизненных стратегиях/поступках своих знакомых и малознакомых людей я</b></p>
                                    <ul class="test-checks">
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Понимаю, что жизненные обстоятельства и опыт у всех разные, поэтому понимаю и принимаю всех людей такими, какие они есть
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Вижу, что есть более рациональные/логичные стратегии, понимаю, что человек сложной ситуации может просто не сориентироваться, поэтому стараюсь тактично направить его «в правильное русло»
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Как правило, я уверена в том, что моя стратегия правильная и я стараюсь убедить в этом собеседника.
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Как правило, я уверена в том, что моя стратегия правильная и я стараюсь убедить в этом собеседника.
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="test-item__btn">
                                    <button type="submit" class="btn fx-bubbleUp next-test">ДАЛЕЕ</button>
                                    <button type="submit" class="btn fx-bubbleUp finish-test">ЗАВЕРШИТЬ</button>
                                </div>
                            </li>
                            <li class="test-item border-figure">
                                <div class="test-item__body">
                                    <span class="test-item__count"><i></i>/<ins></ins></span>
                                    <p class="size-middle"><b>Думая о разных жизненных стратегиях/поступках своих знакомых и малознакомых людей я</b></p>
                                    <ul class="test-checks">
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Понимаю, что жизненные обстоятельства и опыт у всех разные, поэтому понимаю и принимаю всех людей такими, какие они есть
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Вижу, что есть более рациональные/логичные стратегии, понимаю, что человек сложной ситуации может просто не сориентироваться, поэтому стараюсь тактично направить его «в правильное русло»
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Как правило, я уверена в том, что моя стратегия правильная и я стараюсь убедить в этом собеседника.
                                            </label>
                                        </li>
                                        <li class="test-checks__item">
                                            <label class="form-checkbox"><input type="checkbox" name="check" data-name="Чекбокс: "><i class="form-checkbox__check"></i>Как правило, я уверена в том, что моя стратегия правильная и я стараюсь убедить в этом собеседника.
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="test-item__btn">
                                    <button type="submit" class="btn fx-bubbleUp result-test">ДАЛЕЕ</button>
                                    <button type="submit" class="btn fx-bubbleUp finish-test">ЗАВЕРШИТЬ</button>
                                </div>
                            </li>
                        </ul>
                        <!--результат-->
                        <div class="profile-result border-figure">
                            <div class="profile-result__body">
                                <h3 class="page-title text-pink">У ВАС ЕСТЬ ВСЕ ШАНСЫ СТАТЬ ОТЛИЧНЫМ РАВНЫМ КОНСУЛЬТАНТОМ</h3>
                                <p class="text-pink">
                                    У вас много знаний и опыта, которые будут полезны клиенткам. Но для успешной работы нужно готовиться, изучать вспомогательные материалы, в том числе на этом сайте, чтобы  понимать область своей компетенции. Попробуйте подать заявку, чтобы присоединиться к равным в вашем регионе.
                                </p>
                                <p><b>Обратите внимание:</b> для того, чтобы начать обучение по равному консультированию и надо подать заявку и пройти более подробное тестирование.</p>
                            </div>
                            <div class="test-item__btn">
                                <button type="submit" class="btn fx-bubbleUp start-test">НАЧАТЬ ЗАНОВО</button>
                                <button type="submit" class="btn fx-bubbleUp finish-test">ЗАВЕРШИТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

//= blocks/subs.html
//= blocks/partners.html

//= blocks/footer.html
//= blocks/popup.html
//= blocks/script.html

</body>
</html>
