<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>РАВНЫЙ КОНСУЛЬТАНТ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/owl.theme.default.min.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>


//= blocks/header.html
<main class="main">
    <section class="second-head" style="background: url(img/questions-page/bg-1.png) no-repeat left,  url(img/questions-page/bg-2.png) no-repeat right #EBEBEB; background-size: auto 100%, auto 50%; background-position: 0 0, 100% 0px;">
        <div class="second-head__container">
            <h1 class="head-title text-pink">100 ВОПРОСОВ</h1>
            <p class="head-subtitle text-pink">ПРО ГИНЕКОЛОГИЧЕСКИЕ ВИДЫ РАКА</p>
        </div>
    </section>
    <section class="question-page">
        <div class="container-fluid">
            //= blocks/breadcrumbs.html
            <div class="row">
                //= blocks/aside-left.html
                <div class="col-lg-6">
                    <h3 class="question-title text-pink">Диагностика</h3>
                    <div class="question-card">
                        <div id="b_1" class="question-card__item border-figure">
                            <h4 class="question-card__title"> У МЕНЯ РАК – Я УМРУ?</h4>
                            <p><b>Нет, рак можно вылечить! Современные методы позволяют добиться отличных результатов даже в тех случаях, которые еще 10 лет назад считались неизлечимыми.</b></p>
                            <p>Эффективность терапии зависит от стадии заболевания, вида рака (биологического подтипа опухоли), общего состояния здоровья пациентки. Чем раньше начато лечение, тем больше шансов на успех.</p>
                            <p>Конечно, такой диагноз выбивает из привычной жизни. Но обращение в специализированное медицинское учреждение, соблюдение плана обследования и лечение – самое важное с момента возникновения подозрения на онкологическое заболевание. Ни в коем случае не обращайтесь к знахарям или народным целителям. Не теряйте времени зря! Только комплексное лечение, включающее операцию, курсы химио- (лекарственной) и (или) лучевой терапии, может гарантировать успех.</p>
                        </div>
                        <div id="b_2" class="question-card__item border-figure">
                            <h4 class="question-card__title">ДИАГНОЗ МОЖЕТ БЫТЬ ОШИБОЧНЫМ?</h4>
                            <p><b>Нет, рак можно вылечить! Современные методы позволяют добиться отличных результатов даже в тех случаях, которые еще 10 лет назад считались неизлечимыми.</b></p>
                            <p>Эффективность терапии зависит от стадии заболевания, вида рака (биологического подтипа опухоли), общего состояния здоровья пациентки. Чем раньше начато лечение, тем больше шансов на успех.</p>
                            <p>Конечно, такой диагноз выбивает из привычной жизни. Но обращение в специализированное медицинское учреждение, соблюдение плана обследования и лечение – самое важное с момента возникновения подозрения на онкологическое заболевание. Ни в коем случае не обращайтесь к знахарям или народным целителям. Не теряйте времени зря! Только комплексное лечение, включающее операцию, курсы химио- (лекарственной) и (или) лучевой терапии, может гарантировать успех.</p>
                        </div>
                        <div id="b_3" class="question-card__item border-figure">
                            <h4 class="question-card__title">КАК ПРОВЕРИТЬ ДИАГНОЗ?</h4>
                            <p><b>Нет, рак можно вылечить! Современные методы позволяют добиться отличных результатов даже в тех случаях, которые еще 10 лет назад считались неизлечимыми.</b></p>
                            <p>Эффективность терапии зависит от стадии заболевания, вида рака (биологического подтипа опухоли), общего состояния здоровья пациентки. Чем раньше начато лечение, тем больше шансов на успех.</p>
                            <p>Конечно, такой диагноз выбивает из привычной жизни. Но обращение в специализированное медицинское учреждение, соблюдение плана обследования и лечение – самое важное с момента возникновения подозрения на онкологическое заболевание. Ни в коем случае не обращайтесь к знахарям или народным целителям. Не теряйте времени зря! Только комплексное лечение, включающее операцию, курсы химио- (лекарственной) и (или) лучевой терапии, может гарантировать успех.</p>
                        </div>
                        <div id="b_4" class="question-card__item border-figure">
                            <h4 class="question-item__title">ЧТО ТАКОЕ УТОЧНЯЮЩАЯ ДИАГНОСТИКА?</h4>
                            <p><b>Нет, рак можно вылечить! Современные методы позволяют добиться отличных результатов даже в тех случаях, которые еще 10 лет назад считались неизлечимыми.</b></p>
                            <p>Эффективность терапии зависит от стадии заболевания, вида рака (биологического подтипа опухоли), общего состояния здоровья пациентки. Чем раньше начато лечение, тем больше шансов на успех.</p>
                            <p>Конечно, такой диагноз выбивает из привычной жизни. Но обращение в специализированное медицинское учреждение, соблюдение плана обследования и лечение – самое важное с момента возникновения подозрения на онкологическое заболевание. Ни в коем случае не обращайтесь к знахарям или народным целителям. Не теряйте времени зря! Только комплексное лечение, включающее операцию, курсы химио- (лекарственной) и (или) лучевой терапии, может гарантировать успех.</p>
                        </div>
                        <div id="b_5" class="question-card__item border-figure">
                            <h4 class="question-card__title">КАКИЕ БЫВАЮТ СТАДИИ РАКА?</h4>
                            <p><b>Нет, рак можно вылечить! Современные методы позволяют добиться отличных результатов даже в тех случаях, которые еще 10 лет назад считались неизлечимыми.</b></p>
                            <p>Эффективность терапии зависит от стадии заболевания, вида рака (биологического подтипа опухоли), общего состояния здоровья пациентки. Чем раньше начато лечение, тем больше шансов на успех.</p>
                            <p>Конечно, такой диагноз выбивает из привычной жизни. Но обращение в специализированное медицинское учреждение, соблюдение плана обследования и лечение – самое важное с момента возникновения подозрения на онкологическое заболевание. Ни в коем случае не обращайтесь к знахарям или народным целителям. Не теряйте времени зря! Только комплексное лечение, включающее операцию, курсы химио- (лекарственной) и (или) лучевой терапии, может гарантировать успех.</p>
                        </div>
                        <div id="b_6" class="question-card__item border-figure">
                            <h4 class="question-card__title">ЧТО ТАКОЕ МЕТАСТАЗЫ?</h4>
                            <p><b>Нет, рак можно вылечить! Современные методы позволяют добиться отличных результатов даже в тех случаях, которые еще 10 лет назад считались неизлечимыми.</b></p>
                            <p>Эффективность терапии зависит от стадии заболевания, вида рака (биологического подтипа опухоли), общего состояния здоровья пациентки. Чем раньше начато лечение, тем больше шансов на успех.</p>
                            <p>Конечно, такой диагноз выбивает из привычной жизни. Но обращение в специализированное медицинское учреждение, соблюдение плана обследования и лечение – самое важное с момента возникновения подозрения на онкологическое заболевание. Ни в коем случае не обращайтесь к знахарям или народным целителям. Не теряйте времени зря! Только комплексное лечение, включающее операцию, курсы химио- (лекарственной) и (или) лучевой терапии, может гарантировать успех.</p>
                        </div>
                        <div id="b_7" class="question-card__item border-figure">
                            <h4 class="question-card__title">ИЗ КАКИХ ЭТАПОВ СОСТОИТ ЛЕЧЕНИЕ РАКА?</h4>
                            <p><b>Нет, рак можно вылечить! Современные методы позволяют добиться отличных результатов даже в тех случаях, которые еще 10 лет назад считались неизлечимыми.</b></p>
                            <p>Эффективность терапии зависит от стадии заболевания, вида рака (биологического подтипа опухоли), общего состояния здоровья пациентки. Чем раньше начато лечение, тем больше шансов на успех.</p>
                            <p>Конечно, такой диагноз выбивает из привычной жизни. Но обращение в специализированное медицинское учреждение, соблюдение плана обследования и лечение – самое важное с момента возникновения подозрения на онкологическое заболевание. Ни в коем случае не обращайтесь к знахарям или народным целителям. Не теряйте времени зря! Только комплексное лечение, включающее операцию, курсы химио- (лекарственной) и (или) лучевой терапии, может гарантировать успех.</p>
                        </div>
                        <div id="b_8" class="question-card__item border-figure">
                            <h4 class="question-card__title">МНЕ ПРЕДЛАГАЮТ АЛЬТЕРНАТИВНЫЙ
                                (НЕТРАДИЦИОННЫЙ) МЕТОД ЛЕЧЕНИЯ, ОБЕЩАЮТ
                                ОТЛИЧНЫЕ РЕЗУЛЬТАТЫ. МОЖЕТ, ПОПРОБОВАТЬ?</h4>
                            <p><b>Нет, рак можно вылечить! Современные методы позволяют добиться отличных результатов даже в тех случаях, которые еще 10 лет назад считались неизлечимыми.</b></p>
                            <p>Эффективность терапии зависит от стадии заболевания, вида рака (биологического подтипа опухоли), общего состояния здоровья пациентки. Чем раньше начато лечение, тем больше шансов на успех.</p>
                            <p>Конечно, такой диагноз выбивает из привычной жизни. Но обращение в специализированное медицинское учреждение, соблюдение плана обследования и лечение – самое важное с момента возникновения подозрения на онкологическое заболевание. Ни в коем случае не обращайтесь к знахарям или народным целителям. Не теряйте времени зря! Только комплексное лечение, включающее операцию, курсы химио- (лекарственной) и (или) лучевой терапии, может гарантировать успех.</p>
                        </div>
                    </div>
                </div>
                //= blocks/aside-right.html
            </div>
        </div>
    </section>

</main>

//= blocks/subs.html
//= blocks/partners.html

//= blocks/footer.html
//= blocks/popup.html
//= blocks/script.html

</body>
</html>