<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>РАВНЫЙ КОНСУЛЬТАНТ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/owl.theme.default.min.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>


//= blocks/header.html
<main class="main">
    <section class="head">
        <h1 class="head-title text-white">НАША КОМАНДА</h1>
    </section>
    <section class="page">
        <div class="container-fluid">
            //= blocks/breadcrumbs.html
            <div class="row">
                //= blocks/aside-left.html
                <div class="col-lg-9">
                    <h3 class="page-title text-pink">НАША КОМАНДА</h3>
                    <p class="text-pink size-middle">Все наши волонтеры — это специалисты с высшим психологическим образованием, прошедшие строгий отбор, внутреннее обучение и дополнительные тренинги по особенностям телефонного консультирования и работе с тяжелобольными людьми.</p>
                </div>
            </div>
            <div class="team-list">
                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Аделаида Медведецкая</a>
                                <span>Директор</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Марианна-Луиза Фридрихниссен</a>
                                <span>Руководитель юридической службы</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Аделаида Медведецкая</a>
                                <span>Директор</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Аделаида Медведецкая</a>
                                <span>Директор</span>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Аделаида Медведецкая</a>
                                <span>Директор</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Марианна-Луиза Фридрихниссен</a>
                                <span>Руководитель юридической службы</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Аделаида Медведецкая</a>
                                <span>Директор</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Аделаида Медведецкая</a>
                                <span>Директор</span>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Аделаида Медведецкая</a>
                                <span>Директор</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Марианна-Луиза Фридрихниссен</a>
                                <span>Руководитель юридической службы</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Аделаида Медведецкая</a>
                                <span>Директор</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-3">
                        <figure class="team-item">
                            <img src="img/news/news-1.jpg" class="img-full img-fluid" alt="" title="">
                            <figcaption class="team-item__title">
                                <a href="#">Аделаида Медведецкая</a>
                                <span>Директор</span>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

//= blocks/subs.html
//= blocks/partners.html

//= blocks/footer.html
//= blocks/popup.html
//= blocks/script.html

</body>
</html>