<div class="col-lg-3">
    <div class="aside-left">
        <button class="aside-left__btn btn collapsed"  type="button" data-target="#aside-left-1" aria-expanded="false" aria-controls="aside-left-1">все разделы<i class="icon icon-arrow-top" aria-hidden="true"></i></button>
        <div class="aside-body collapse" id="aside-left-1">
            <ul class="aside bottom-pink">
                <li class="aside__item"><a href="#" class="aside__link active">Новости</a></li>
                <li class="aside__item"><a href="#" class="aside__link">Анонсы</a></li>
                <li class="aside__item"><a href="#" class="aside__link">Отчеты</a></li>
                <li class="aside__item"><a href="#" class="aside__link active">Новости</a></li>
                <li class="aside__item"><a href="#" class="aside__link">Анонсы</a></li>
            </ul>
        </div>
    </div>
</div>