<div class="col-lg-3">
    <div class="aside-right top-figure">
        <ul class="aside aside-body">
            <li class="aside__item"><a href="#u-menya-rak-ya-umru-1" class="aside__link">У меня рак — я умру?</a></li>
            <li class="aside__item"><a href="#diagnoz-mozhet-byt-oshibochnym" class="aside__link">Диагноз может быть ошибочным?</a></li>
            <li class="aside__item"><a href="#kak-proverit-diagnoz1" class="aside__link">Как проверить диагноз?</a></li>
            <li class="aside__item"><a href="#chto-takoe-utochnyayushchaya-diagnostika1" class="aside__link">Что такое уточняющая диагностика?</a></li>
            <li class="aside__item"><a href="#kakie-byvayut-stadii-raka1" class="aside__link">Какие бывают стадии рака?</a></li>
            <li class="aside__item"><a href="#chto-takoe-metastazy" class="aside__link">Что такое метастазы?</a></li>
            <li class="aside__item"><a href="#iz-kakikh-etapov-sostoit-lechenie-raka" class="aside__link">Из каких этапов состоит лечение рака?</a></li>
            <li class="aside__item"><a href="#mne-predlagayut-alternativnyy-netraditsionnyy-metod-lecheniya-obeshchayut-otlichnye-rezultaty-mozhet1" class="aside__link">Мне предлагают альтернативный (нетрадиционный) метод лечения, обещают отличные результаты. Может, попробовать?</a></li>
            <li class="aside__item"><a href="#diagnoz-mozhet-byt-oshibochnym" class="aside__link">Диагноз может быть ошибочным?</a></li>
            <li class="aside__item"><a href="#kak-proverit-diagnoz1" class="aside__link">Как проверить диагноз?</a></li>
            <li class="aside__item"><a href="#chto-takoe-utochnyayushchaya-diagnostika1" class="aside__link">Что такое уточняющая диагностика?</a></li>
            <li class="aside__item"><a href="#kakie-byvayut-stadii-raka1" class="aside__link">Какие бывают стадии рака?</a></li>
            <li class="aside__item"><a href="#chto-takoe-metastazy" class="aside__link">Что такое метастазы?</a></li>
            <li class="aside__item"><a href="#iz-kakikh-etapov-sostoit-lechenie-raka" class="aside__link">Из каких этапов состоит лечение рака?</a></li>
            <li class="aside__item"><a href="#mne-predlagayut-alternativnyy-netraditsionnyy-metod-lecheniya-obeshchayut-otlichnye-rezultaty-mozhet1" class="aside__link">Мне предлагают альтернативный (нетрадиционный) метод лечения, обещают отличные результаты. Может, попробовать?</a></li>
        </ul>
    </div>
</div>