<footer class="footer bg-grey">
    <div class="container-fluid">
        <div class="footer-wrap">
            <ul id="footer-nav" class="footer-nav footer-widget">
                <li class="footer-nav-item footer-drop" id="footer-panel0">
                    <a class="footer-nav-link collapsed" data-parent="#footer-nav" href="#footer-drop0" aria-expanded="true" aria-controls="footer-drop0">
                        О проекте
                    </a>
                    <div class="footer-sub-menu panel-collapse collapse" id="footer-drop0" aria-labelledby="footer-panel0">
                        <a class="footer-sub-item" href="#">Информация о проекте</a>
                        <a class="footer-sub-item" href="#">Как помочь проекту</a>
                        <a class="footer-sub-item" href="#">Как стать партнером проекта</a>
                        <a class="footer-sub-item" href="#">Информация для чиновников и врачей</a>
                    </div>
                </li>
                <li class="footer-nav-item footer-drop" id="footer-panel5">
                    <a class="footer-nav-link collapsed" data-parent="#footer-nav" href="#footer-drop5" aria-expanded="true" aria-controls="footer-drop5">
                        О равных консультантах
                    </a>
                    <div class="footer-sub-menu panel-collapse collapse" id="footer-drop5" aria-labelledby="footer-panel5">
                        <a class="footer-sub-item" href="#">Кто такие равные консультанты?</a>
                        <a class="footer-sub-item" href="#">Как стать равным консультантом?</a>
                        <a class="footer-sub-item" href="#">Истории и опыт равных</a>
                    </div>
                </li>
                <li class="footer-nav-item footer-drop" id="footer-panel9">
                    <a class="footer-nav-link collapsed"  data-parent="#footer-nav" href="#footer-drop9" aria-expanded="true" aria-controls="footer-drop9">
                        Новости
                    </a>
                    <div class="footer-sub-menu panel-collapse collapse" id="footer-drop9" aria-labelledby="footer-panel9">
                        <a class="footer-sub-item" href="#">Новости</a>
                        <a class="footer-sub-item" href="#">Анонсы</a>
                        <a class="footer-sub-item" href="#">Отчеты</a>
                    </div>
                </li>
                <li class="footer-nav-item footer-drop" id="footer-panel13">
                    <a class="footer-nav-link collapsed"  data-parent="#footer-nav" href="#footer-drop13" aria-expanded="true" aria-controls="footer-drop13">
                        Материалы
                    </a>
                    <div class="footer-sub-menu panel-collapse collapse" id="footer-drop13" aria-labelledby="footer-panel13">
                        <a class="footer-sub-item" href="#">100 вопросов про РМЖ</a>
                        <a class="footer-sub-item" href="#">100 вопросов про гинекологический рак</a>
                        <a class="footer-sub-item" href="#">100 вопрос про этику консультанта</a>
                        <a class="footer-sub-item" href="#">Пройти тестирование</a>
                        <a class="footer-sub-item" href="#">Интервью и статьи специалистов</a>
                    </div>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="#">Видео</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="#">Календарь</a>
                </li>
            </ul>
            <div class="footer-btn footer-widget">
                <button class="btn btn is-reversed fx-bubbleUp">ПОДДЕРЖАТЬ</button>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__links">
                <div class="footer-soc soc-icons footer-widget">
                    <a href="#" class="soc-link"><i class="icon icon-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="soc-link"><i class="icon icon-vk" aria-hidden="true"></i></a>
                    <a href="#" class="soc-link"><i class="icon icon-odnoklassniki" aria-hidden="true"></i></a>
                    <a href="#" class="soc-link"><i class="icon icon-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="footer-bottom__logo">
                <span>При поддержке:</span>
                <img src="img/logo-3.svg" alt="" title="">
            </div>
            <div class="footer-bottom__disc">
                <p>Подготовлено к печати и издано АНО «ЦСПР «ВМЕСТЕ ПРОТИВ РАКА» в рамках проекта «Развитие сети равных консультантов для: женщин с онкологическими заболеваниями женской репродуктивной сферы» (Фаза II) с использованием гранта Президента Российской Федерации на развитие гражданского общества, предоставленного Фондом Президентских грантов.</p>
            </div>
        </div>
        <div class="row copy">
            <div class="col-lg-6">
                <p class="copy-text">Copyright © 2012-2018, Благотворительная программа «Женское здоровье»</p>
            </div>
            <div class="col-lg-6 text-lg-right">
                <p class="copy-text">Разработка проекта — Агентство медицинской журналистики</p>
            </div>
        </div>
    </div>
    <!-- End Copyright Area -->
</footer>

<a id="to-top" href="#top" class="to-top"><i class="icon icon-arrow-top" aria-hidden="true"></i></a>