<header class="header">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="img/logo-2.svg" alt="logo" style="padding: 10px 0; height:70px !important;" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-wrap">
                <ul id="header-nav" class="navbar-nav header-nav">
                    <li class="nav-item header-drop" id="dropdown-panel0">
                        <a id="dropdown-0" class="nav-link collapsed" data-parent="#header-nav" href="/about/" aria-expanded="true" data-target="#nav-dropdown-0" aria-controls="nav-dropdown-0">
                            О проекте
                        </a>
                        <div class="sub-menu panel-collapse collapse" id="nav-dropdown-0" aria-labelledby="dropdown-panel0">
                            <a class="sub-item" href="#">Информация о проекте</a>
                            <a class="sub-item" href="#">Как помочь проекту</a>
                            <a class="sub-item" href="#">Как стать партнером проекта</a>
                            <a class="sub-item" href="#">Информация для чиновников и врачей</a>
                        </div>
                    </li>
                    <li class="nav-item header-drop" id="dropdown-panel5">
                        <a id="dropdown-5" class="nav-link collapsed" data-parent="#header-nav" href="/peer-consultants/" aria-expanded="true" data-target="#nav-dropdown-5" aria-controls="nav-dropdown-5">
                            О равных консультантах
                        </a>
                        <div class="sub-menu panel-collapse collapse" id="nav-dropdown-5" aria-labelledby="dropdown-panel5">
                            <a class="sub-item" href="#">Кто такие равные консультанты?</a>
                            <a class="sub-item" href="#">Как стать равным консультантом?</a>
                            <a class="sub-item" href="#">Истории и опыт равных</a>
                        </div>
                    </li>
                    <li class="nav-item header-drop" id="dropdown-panel9">
                        <a id="dropdown-9" class="nav-link collapsed"  data-parent="#header-nav" href="/content/" aria-expanded="true" data-target="#nav-dropdown-9" aria-controls="nav-dropdown-9">
                            Новости
                        </a>
                        <div class="sub-menu panel-collapse collapse" id="nav-dropdown-9" aria-labelledby="dropdown-panel9">
                            <a class="sub-item" href="#">Новости</a>
                            <a class="sub-item" href="#">Анонсы</a>
                            <a class="sub-item" href="#">Отчеты</a>
                        </div>
                    </li>
                    <li class="nav-item header-drop" id="dropdown-panel13">
                        <a id="dropdown-13" class="nav-link collapsed"  data-parent="#header-nav" href="/materials/" aria-expanded="true" data-target="#nav-dropdown-13" aria-controls="nav-dropdown-13">
                            Материалы
                        </a>
                        <div class="sub-menu panel-collapse collapse" id="nav-dropdown-13" aria-labelledby="nav-panel4">
                            <a class="sub-item" href="#">100 вопросов про РМЖ</a>
                            <a class="sub-item" href="#">100 вопросов про гинекологический рак</a>
                            <a class="sub-item" href="#">100 вопрос про этику консультанта</a>
                            <a class="sub-item" href="#">Пройти тестирование</a>
                            <a class="sub-item" href="#">Интервью и статьи специалистов</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/videos/">Видео</a>
                    </li>

                </ul>
                <div class="header-group header-links">
                    <div href="#" class="login">
                        <a href="#" class="login-user">Войти</a> / <a href="#" class="login-registr">Зарегистрироваться</a>
                        <i class="icon icon-user"></i>
                    </div>

                    <div class="search">
                        <button class="search-btn" data-toggle="modal" data-target="#exampleModal">
                            <i class="search-btn__loop icon icon-glass"></i>
                            <span class="search-btn__close"></span>
                        </button>
                        <form class="search-form" action="" method="">
                            <input class="input search-form__input" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn search-form__btn" type="submit"><i class="icon icon-glass"></i></button>
                        </form>
                    </div>
                </div>
                <div class="header-group header-soc soc-icons">
                    <a href="#" class="soc-link"><i class="icon icon-facebook"></i></a>
                    <a href="#" class="soc-link"><i class="icon icon-vk"></i></a>
                    <a href="#" class="soc-link"><i class="icon icon-odnoklassniki"></i></a>
                    <a href="#" class="soc-link"><i class="icon icon-instagram"></i></a>
                </div>
                <div class="header-group header-city city">
                    <i class="icon icon-pin"></i> Ваш город: <u>Москва</u>
                </div>
                <div class="header-btn"><button class="btn is-reversed fx-bubbleUp">ПОДДЕРЖАТЬ</button></div>
            </div>
        </div>
    </nav>
</header>