<section class="partners">
    <div class="partners-container">
        <h2 class="section-title text-pink partners__title">НАШИ ПАРТНЕРЫ</h2>
        <div class="partners-wrap owl-carousel">
            <div class="partners-item"><img src="img/partners/partners-1.jpg" class="img-fluid" alt="" title=""></div>
            <div class="partners-item"><img src="img/partners/partners-2.jpg" class="img-fluid" alt="" title=""></div>
            <div class="partners-item"><img src="img/partners/partners-3.jpg" class="img-fluid" alt="" title=""></div>
        </div>
        <div class="partners__btn-wrap">
            <a href="#" class="btn fx-bubbleUp">Все партнеры</a>
        </div>
    </div>
</section>