<section class="subs bg-grey">
    <div class="container-fluid">
        <div class="subs-wrap">
            <h2 class="section-subtitle subs__title">
                <i class="icon icon-email-ico-1 icon-border-bottom subs__title-icon" aria-hidden="true"></i>Подписаться <br>на рассылку
            </h2>
            <form action="#" method="#" class="subs__form form">
                <label for="subs-input"></label>
                <input type="email" name="subs-input" id="subs-input" class="email subs__input input" placeholder="Введите ваш e-mail" required="">
                <button type="submit" class="btn fx-bubbleUp">подписаться</button>
            </form>
        </div>
    </div>
</section>